@import "tailwindcss";

/* Custom Dark Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
    /* dark track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    /* slightly lighter thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* hover effect */
}

html, body {
  overflow-x: hidden;
}
